:root {
  /* colours */
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  /* typography */
  --figtree-extra-bold: "FigtreeExtraBold";
  --figtree-medium: "FigtreeMedium";

  --text-24: 24px;
  --text-16: 16px;
  --text-14: 14px;

  --line-height-150: 150%;

  --letter-spacing-0: 0;

  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

@font-face {
  font-family: "FigtreeExtraBold";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("opentype");
}

@font-face {
  font-family: "FigtreeMedium";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 384px;
  height: 522px;
  background-color: var(--white);
  border-radius: 20px;
  padding: var(--spacing-300);
  gap: var(--spacing-300);
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0px 0px #000000;
}

.main-img {
  width: fit-content;
  height: 200px;
  border-radius: 10px;
}

.text-preset-1 {
  font-family: var(--figtree-extra-bold);
  font-size: var(--text-24);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.text-preset-2 {
  font-family: var(--figtree-medium);
  font-size: var(--text-16);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.text-preset-3 {
  font-family: var(--figtree-medium);
  font-size: var(--text-14);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.text-preset-3-bold {
  font-family: var(--figtree-extra-bold);
  font-size: var(--text-14);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
